<!-- <!DOCTYPE html>  -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
 <html lang="en">
<head>
  <!---- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="homepagestyle.css"> 
    <title>Homepage</title>
</head>
<body>
  <div class="row">
  <div class="banner">
    <img src="companyxlogo.png" alt="Company Logo" class="img-fluid">
  </div>


    <center><input type="text" placeholder="Search.."></center>

                        
    <p class="title"><center><h2>The one stop shop for technologists</h2></center></p>
    
    <div class="banner"></div> -->

    <div class="product 1">
        <h2>Featured Products:</h2>
        </div>
      
        <div class="container">
          <div class="row">
              
              <div class="col-md-4">
                  <div class="content">
                      <div class="text-container">
                          <h4>HDMI cable</h4>
                          <img class="hdmicontainer" src="hdmi.jpeg" alt="hdmi">
                          <p class="text">
                              <h5>6ft HDMI cable with Fast connectivity 
                                  standard function of transferring<br>
                                  high-definition audio and video<br>
                                  can be used for computer, TV, monitor, or projector
                              </h5>
                          </p>
                      </div>
                  </div>
                  <div class="btn-container">
                      <button><p>Add to cart</p></button>
                      <button><p>Save to wishlist</p></button>
                  </div>
              </div>
      
              <div class="col-md-4">
                  <div class="content">
                      <div class="text-container">
                          <h4>MacBook pro</h4>
                          <img class="mac" src="mac.jpeg" alt="mac" style="max-width: 70%;" style="padding:2;">
                          <p class="text">
                              <h5>macOS laptop <br>
                                  with 14.4 inch display <br> resolution of 2560x1600 pixels <br>
                                  powered by Core i5 processor 16GB of RAM <br>
                                  512GB of SSD
                              </h5>
                          </p>
                      </div>
                  </div>
                  <div class="btn-container">
                      <button><p>Add to cart</p></button>
                      <button><p>Save to wishlist</p></button>
                  </div>
              </div>
      
             
              <div class="col-md-4 ms-end">
                  
                  <div class="content">
                      <div class="text-container">
                          <h4>UBS-C model XR</h4>
                          <img class="usbc" src="usbc.jpeg" alt="USB-C Image">
                          <p class="text"><h5>Designed to hold 16GB of data. Compatible with MacAir, 
                              MacBook Pro and iPhone 11</h5></p>
                         </div>
                         </div>
                         <div class="btn-container">
                          <button><p>Add to cart</p></button>
                          <button><p>Save to wishlist</p></button>
                      </div>
              </div>
          </div>
      </div>
</body>
</html> 
{% endblock %}



